
<div class="backimg ">   
    <div class="container h">
  
          <!--Back Img
        <div class="backimg"></div> -->
        <div class="row justify-content-center h">
            
            <div class="col-12 col-xl-6 col-md-6">
  
               
  
                <div class="">
        
                    <!--logo-->
                    <div class="p-4">
                        <img src="../assets/images/logo.svg" alt="" class=" w-100">
                        
                    </div>
  
                         <section class="sign-up-form  ">
            
                    <div class=" d-flex" style="flex-direction: column; align-items: center;">
  
                            <img src="../assets/images/bw-dao-logo.svg" alt="" class="dao-logo">
                        
  
                      <h4 class="para-1 ">Login to DAO Proptech's Account</h4>
                    
                      <form action="#">
                        
                          <div class="form-group ">
                            <input type="email" class="form-control form-style" placeholder="Enter Email">
                          </div>
                                
                           <!--
  
                         <div class="form-group">
                            <input class="form-control form-style" type="password"  placeholder=" Create Password" >
                        </div>
                    -->
                       
                       
                            
                        <button class="btn btn-primary ">Continue</button>
  
                        <div class="row justify-content-center my-3">
                            <div class="col-5">
                                <hr >
                            </div>
                        
                            <div class="col-2 or">
                                <span class="span-text">OR</span>
                            </div>
  
                            <div class="col-5">
                                <hr>
                            </div>
  
                        </div>
                    
                      <a routerLink="/signup"><button class="btn btn-outline-primary button-2"><span class="font-weight-normal"> Signup for new account</span></button> </a>
                    
  
                                       <img src="../assets/images/Line 69.svg" class="line-3 align-middle w-100" alt="">
  
                    <div class="row justify-content-center mt-3 text-center text-log">
                        <div class="col-5 ">
                            <a href="#" class="privacy align-self-center"> <p>Can't log in?</p> </a>
                        </div>
                        <div class="col-2">
                            <span class="circle">
  
                            </span>
                        </div>
                        <div class="col-5">
                            <a href="#" class="user"><p>Forgot password</p></a>
                        </div>
  
                        <!-- <ul class=" ">
                            <li><a href="#" class="privacy align-self-center"> <p>Can't log in?</p> </a></li>
                            <i><img src="./images/Ellipse 59.svg" alt="" class="ellipse"></i>
                            <li><a href="#" class="user"><p>Forgot password</p></a></li>
                        </ul> -->
                         </div>
  
                      </form>
                    </div>
                
                </section>
               
  
  
                    <div class="row justify-content-center priv-user p-4 text-center">
                        <div class="col-12">
                            <div class="row">
                        <div class="col-5 ">
                            <a href="#" class="privacy align-self-center"> <p>Privacy Policy</p> </a>
                        </div>
                        <div class="col-2">
                            <span class="circle">
  
                            </span>
                        </div>
                        <div class="col-5">
                            <a href="#" class="user"><p>User Notice</p></a>
                        </div>
  </div>
  </div>
                    <!--   <ul class=" ">
                        <li><a href="#" class="privacy align-self-center"> <p>Privacy Policy</p> </a></li>
                        <i><img src="./images/Ellipse 59.svg" alt="" class="ellipse"></i>
                        <li><a href="#" class="user"><p>User Notice</p></a></li>
                    </ul> -->
                     </div>
                   
                
                 <footer class=" d-flex" style="flex-direction: column; align-items: center;">
                
                        <div class=" row justify-content-center ">
                            <img src="./assets/images/dao-logo-only-blocks.svg" class="img-last" alt="">
                
                            <h1 class="heading-2 ">Dao Proptech</h1>        
                         </div>
                             
                             <div class=" justify-content-center">
                                    <span class="last span-last">One account for all your investing needs</span>
                               
                                    <span class="last last-span">Elements Residencia LLP 2020. All Rights Reserved.</span>
                        
                            </div>
                                
              
                    </footer> 
  
             
            <!-- </div> -->
        </div>  
       
        </div>
     
    </div>
  </div>