
 <div class="backimg">   
    <div class="container h-100">
          <!--Back Img
        <div class="backimg"></div> -->
        <div class="row justify-content-center">
            
            <div class="col-12 col-xl-6 col-md-6">

               
  
                <div class="">
        
                    <!--logo-->
                    <div class="p-4">
                        <img src="../../assets/images/logo.svg" alt="" class=" w-100">
                        
                    </div>

                         <section class="sign-up-form p-4 ">
            
                    <div class=" d-flex" style="flex-direction: column; align-items: center;">

                            <img src="../../assets/images/bw-dao-logo.svg" alt="" class="dao-logo">
                        

                      <h4 class="para-1 ">Signup for DAO's Account</h4>
                    
                      <form action="#">
                          <div class="form-group ">
                            <input type="text" class="form-control form-style" placeholder="Enter Full Name">
                          </div>

                          <div class="form-group ">
                            <input type="email" class="form-control form-style" placeholder="Enter Email">
                          </div>
                                
                            <div class="input-group mb-1 form-group ">
                                <div class="input-group-prepend  ">
                                    <p class="country-code form-style "><i class="mr-3"><img src="../../assets/images/Ellipse 60.svg" alt=""></i><span class="text">+92</span></p>
                                    
                                </div>
                                <input type="phone" class="form-control form-style phone" placeholder="Enter phone no">
                            </div>

                         <div class="form-group">
                            <input class="form-control form-style" type="password"  placeholder=" Create Password" >
                        </div>

                        <div class="form-group">
                            <input class="form-control form-style" type="password"  placeholder="Confirm Password" >
                        </div>

                        <div >
                        <p class="terms">By signing up, you are agreeing to DAO Proptech’s <a>Terms of Service </a>and acknowledge the <a>Terms & Conditions.</a></p>
                        </div>
                            
                        <button class="btn btn-primary ">Sign Up</button>

                                       <img src="../../assets/images/Line 69.svg" class="line-3 align-middle w-100" alt="">

                        <a href="#"> <p class="text-center log-in">Already have a DAO Account? Log in</p> </a>

                      </form>
                    </div>
                
                </section>
               


                    <div class="row justify-content-center priv-user">
                    <ul class=" ">
                        <li><a href="#" class="privacy align-self-center"> <p>Privacy Policy</p> </a></li>
                        <i><img src="../../assets/images/Ellipse 59.svg" alt="" class="ellipse"></i>
                        <li><a href="#" class="user"><p>User Notice</p></a></li>
                    </ul>
                     </div>
                   
                
                 <footer class=" d-flex" style="flex-direction: column; align-items: center;">
                
                        <div class=" row justify-content-center ">
                            <img src="../../assets/images/dao-logo-only-blocks.svg" class="img-last" alt="">
                
                            <h1 class="heading-2 ">Dao Proptech</h1>        
                         </div>
                             
                             <div class=" justify-content-center">
                                    <span class="last span-last">One account for all your investing needs</span>
                               
                                    <span class="last last-span">Elements Residencia LLP 2020. All Rights Reserved.</span>
                        
                            </div>
                                
              
                    </footer> 

             
            <!-- </div> -->
        </div>  
       
        </div>
     
    </div>
</div>